<!DOCTYPE configuration>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<property name="LOG_PATH" value="C:/logs/ics" />
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>L%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-32.32logger{32} :%4line %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="general" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/general.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_PATH}/general.log.%i</fileNamePattern>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>4MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-64.64logger{64} :%4line %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="ics" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/ics.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_PATH}/ics.log.%i</fileNamePattern>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>4MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-32.32logger{32} :%4line %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="kr.andold.ics" additivity="false" level="debug">
		<appender-ref ref="ics" />
		<appender-ref ref="general" />
	</logger>

	<logger name="org" additivity="false" level="warn">
		<appender-ref ref="general" />
	</logger>

	<root>
		<level value="warn" />
		<appender-ref ref="ics" />
		<appender-ref ref="general" />
	</root>

</configuration>
